@import url(navbar.css);

:root{
    font-size:16px;
    --text-primary:#b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    --transition-speed:600ms;
}
body::-webkit-scrollbar{
    width:0.25rem;
}
body::-webkit-scrollbar-track{
    background:#1e1e24;
}
body::-webkit-scrollbar-thumb{
    background:#6649b8;
}
body{
    color:white;
    background-color:#151320;
    margin:0;
    padding:0;
    box-sizing:border-box;
    width:100%;
    height: 100vh;
}
/*
From Dev Ed's video (SVG Animation With Text Tutorial | HTML CSS)
https://www.youtube.com/watch?v=vJNVramny9k&t=835s
*/
#svgText{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#svgText g{
    stroke:var(--text-primary);
    /*stroke:#fff*/
    animation: fillLetter 0.5s ease forwards 3.2s;
}
#svgText path:nth-child(1){
    stroke-dasharray: 554;
    stroke-dashoffset: 554;
    animation: drawLine 2s ease forwards;
}
#svgText path:nth-child(2){
    stroke-dasharray: 259;
    stroke-dashoffset: 259;
    animation: drawLine 2s ease forwards 0.3s;
}
#svgText path:nth-child(3){
    stroke-dasharray: 491;
    stroke-dashoffset: 491;
    animation: drawLine 2s ease forwards 0.6s;
}
#svgText path:nth-child(4){
    stroke-dasharray: 484;
    stroke-dashoffset: 484;
    animation: drawLine 2s ease forwards 0.9s;
}
#svgText path:nth-child(5){
    stroke-dasharray: 661;
    stroke-dashoffset: 661;
    animation: drawLine 2s ease forwards 1.2s;
}
@keyframes drawLine{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fillLetter{
    from{
        fill: var(--bg-primary);
    }to{
        fill: var(--text-primary);
    }
}